<clr-header class="header header-4">
  <div class="branding">
    <a [routerLink]="['/home']" class="nav-link">
      <span class="clr-icon clr-clarity-logo"></span>
      <span class="title">U/MovieDB</span>
    </a>
  </div>
    <div class="header-nav header-actions" [clr-nav-level]="2">
        <a class="nav-link" href="#" [routerLink]="['/login']" routerLinkActive="active"><span class="nav-text">Login</span></a>
        <a class="nav-link" href="#" [routerLink]="['/register']" routerLinkActive="active"><span class="nav-text">Register</span></a>
    </div>
</clr-header>
